@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: outfit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i {
  cursor: pointer;
}


h4 {
  font-size: 15px;
}

p {
  font-size: 12px;
}



/* Welcome Page */



.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url(./Assets/img/Login-Back.jpg);
  background-size: cover;

}

.login {
  height: 50vh;
  width: 60vw;
  display: flex;
  box-shadow: 5px 5px 25px rgb(12, 12, 12);
}

.signup {
  display: flex;
}

.signup .login-right,
.signup .login-left {
  height: 60vh;
}

.login-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 50vh;
  width: 30vw;
  background-image: url(./Assets/img/Login-Back.jpg);
  background-size: cover;

}

.login-right {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);

}

/* login container */
.login-container {
  position: relative;
  margin: 20px;
}

/* login field */
.login-field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  color: white;
  background-color: transparent;
}

/* login label */
.login-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(247, 247, 247, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* login highlight */
.login-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #10c5ad;
  transition: all 0.3s ease;
}

.login-field::placeholder {
  color: white;
}

.login-field:focus::placeholder {
  opacity: 0;
}

/* login field:focus styles */
.login-field:focus+.login-label {
  top: -20px;
  font-size: 12px;
  color: #ffffff;
}

.login-field:focus+.login-label+.login-highlight {
  width: 234px;
}

.login-btn {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.login-btn button {
  width: 100px;
  border: none;
  outline: none;
  height: 30px;
  border-radius: 5px;
  background-color: #10c5ad;
  color: white;
  cursor: pointer;
}

.login-btn button:hover {
  background-color: #10c5ad7e;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 1s ease-in-out;
}

/* HomePage */




.left-box {
  background-color: rgb(56, 61, 61);
}

.info {

  background-image: url(./Assets/img/jb.jpg);
  background-size: cover;

}

.info-btn button {
  height: 25px;
  border: none;
  outline: none;
  width: 100px;
  border-radius: 20px;

}

.albums {
  background-color: rgb(44, 45, 46);
}


.artist-pic {
  height: 17vh;
  width: 8vw;
  border-radius: 10px;
}

.jb {
  background-image: url(./Assets/img/justin.jpg);
  background-size: cover;
}

.artist-container h4,
p {
  margin: 2px;
  width: 150px;
  text-align: center;
}

.week {
  background-image: url(./Assets/img/weekend.png);
  background-size: cover;
}

.lana {
  background-image: url(./Assets/img/lana.jpg);
  background-size: cover;
}

.kdot {
  background-image: url(./Assets/img/kendrick.jpg);
  background-size: cover;
}

.drake {
  background-image: url(./Assets/img/drake.jpg);
  background-size: cover;
}

.selena {
  background-image: url(./Assets/img/selena.jpg);
  background-size: cover;
}

.song {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(44, 45, 46);
  border-radius: 20px;
  cursor: pointer;
  color: white;
  margin-top: 5px;

}

.song-pic {
  height: 35px;
  width: 35px;
  background-image: url(./Assets/img/justin.jpg);
  background-size: cover;
  border-radius: 50%;

}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 999;

}

.fa-ellipsis-vertical:hover .dropdown-content {
  display: block;
}

.song-pic img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}



.trend-songs {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  background-color: rgb(44, 45, 46);
  border-radius: 10px;
  padding: 5px;
  width: 340px;
  cursor: pointer;
}

.trend-songs:hover {
  transform: scale(0.9);
  transition: transform 0.5s ease-in-out;
}

.trend-songs .photo,
.song-info,
.rank {
  width: 33%;
}

.trend-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/* ------------------------------------------------------Player------------------------------------------------------- */


.container {
  height: 50vh;
  width: 28vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(250, 250, 250);
  font-family: 'Poppins';

}

.music-Container {
  width: 22.5vw;
  height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 36px;
  box-shadow: 0 0 20px rgba(26, 26, 26, 0.1),
    0 0 40px rgba(26, 26, 26, 0.1),
    0 0 80px rgba(26, 26, 26, 0.1);
  backdrop-filter: blur(15px);
  font-weight: 600;
  background-color: black;
}

.musicPlayer {
  margin: 0;
  margin-bottom: 10px;
}

.music-Head-Name {
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
}

.music-Artist-Name {
  font-size: 1.2rem;
  font-weight: 400;
}


#songAvatar {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin: 18px 0;
  position: relative;

}

@keyframes animateAvatar {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }
}

.musicTimerDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
}

.musicProgressBar {
  width: 100%;
  margin-bottom: 16px;
  height: 10px;
  border-radius: 5px;
  outline: none;
  filter: hue-rotate(20deg);
}

.playBtn {
  font-size: 32px;
  margin: 8px 10px;

  cursor: pointer;
  font-weight: 400;
}

.musicControler {
  cursor: pointer;
  font-size: 28px;
}

.changeBackBtn {
  width: 200px;
  height: 15px;
  background-color: #eee;
  position: absolute;
  border-radius: 12px 12px 0 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  transition: .3s;
  color: #eee;
  cursor: pointer;
  padding: 3px 0 0 0;
  font-weight: 600;
  text-align: center;
}



/* Library Page */

.librarypage,
.profilepage {
  height: 100vh;
  width: 65vw;
}

.librarypage header {
  display: flex;
  position: relative;
  width: 100%;
  height: 50px;
  justify-content: center;
  margin-top: 10px;

}

.librarypage header input {
  height: 30px;
  outline: none;
  background-color: transparent;
  width: 300px;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
}

.librarypage header button {
  height: 35px;
  margin-left: 20px;
  outline: none;
  background-color: #10c5ad;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}