@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: raleway;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Welcome Page */
.welcome {
  height: 100vh;
  width: 100vw;
  background: rgb(118, 118, 118);
  background: radial-gradient(circle, rgba(118, 118, 118, 1) 1%, rgba(0, 0, 0, 1) 100%);

}

.welcome-container,
.box {
  display: flex;
}

.box {

  justify-content: space-around;
  flex-direction: column;
  height: 95vh;
  width: 50vw;
}

.welcome-img {
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;


}

.img-box {
  height: 96vh;
  width: 46vw;
  background-image: url(./Assets/potrait.jpg);
  background-size: cover;
  border-radius: 20px;
}

.home-head {
  flex: 1;
  display: flex;
  justify-self: start;
}

.inner-box {
  flex: 1;
  display: flex;
  justify-content: center;

}

.inner-box h2 {
  color: white;
}

.inner-box button {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
}


/* HomePage */

.homepage {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;


}

.left-box {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 7vw;
  background-color: rgb(56, 61, 61);
}

.icon {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.center-box .header {
  display: flex;

}

.input {
  position: relative;
  margin-left: 10px;
  border: 1px solid white;
  border-radius: 5px;
  height: 30px;
  width: 300px;
  display: flex;
  justify-content: start;
  margin-left: 30px;
  padding: 4px;
}

.input input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  margin-top: 10px;
  margin-left: 1cqmax;
}


.header i {
  margin-top: 10px;
  margin-left: 18px;
}

.center-box {
  padding: 10px;
  width: 65vw;
  height: 97vh;
}
.home-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  height: 170px;
  width: 900px;
  padding: 20px;
  border-radius: 20px;
  background-image: url(./Assets/jb.jpg);
  background-size: cover;

}
.info-btn button{
  height: 25px;
  border: none;
  outline: none;
  width: 100px;
  border-radius: 20px;

}
.album{
  margin-left: 10px;
}
.albums{
  display: flex;
  gap: 10px;

}
.artist-container{
  height: 200px;
  width: 140px;

}
.artist-pic{
  height: 150px;
  width: 140px;
  border-radius: 10px;
}
.jb{
  background-image: url(./Assets/justin.jpg);
  background-size: cover;
}
.artist-container h4,p{
  margin: 2px;
}
.week{
  background-image: url(./Assets/weekend.png);
  background-size: cover;
}
.lana{
  background-image: url(./Assets/lana.jpg);
  background-size: cover;
}
.kdot{
  background-image: url(./Assets/kendrick.jpg);
  background-size: cover;
}
.drake{
  background-image: url(./Assets/drake.jpg);
  background-size: cover;
}
.selena{
  background-image: url(./Assets/selena.jpg);
  background-size: cover;
}
.song{
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(44, 45, 46);
  border-radius: 20px;
  
}
.song-pic{
  height: 50px;
  width: 50px;
  background-image: url(./Assets/justin.jpg);
  background-size: cover;
}

.right-box{
  height: 100vh;
  width: 28vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(44, 45, 46);
}
.right-box .header{
 text-align: center;
}
.trend-heading{
  display: flex;
  width: 28vw;
  height: 30px;
  justify-content: space-around;
}
.trending-songs{
  margin-top: 30px;
  height: 250px;
  padding: 10px;
  background-color: black;
  border-radius: 20px;
  width: 90%;
  text-align: center;

}
.trend-songs{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.trend-songs .lana{
  height: 50px;
  width: 50px;
  background-image: url(./Assets/lana.jpg);
  border-radius: 50%;
}
.trend-songs .jb{
  height: 50px;
  width: 50px;
  background-image: url(./Assets/justin.jpg);
  border-radius: 50%;
}
.trend-songs .selena{
  height: 50px;
  width: 50px;
  background-image: url(./Assets/selena.jpg);
  border-radius: 50%;
}
.trend-songs .kdot{
  height: 50px;
  width: 50px;
  background-image: url(./Assets/kendrick.jpg);
  border-radius: 50%;
}
.trend-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* ------------------------------------------------------Player------------------------------------------------------- */

.player{
  display: flex;
  flex-direction: column;
}
